/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
	/* vv code & animation for sub 2 vv*/


#subtitle2 {
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-family: Fjalla One, sans-serif;
	font-size: 35px;
	white-space: nowrap;
	text-align: center;
}

.two_line {
	position: absolute;
	width: 95%;
	padding-left: 0%;
	background-color: white;
	top: 44px;
}


#two_line0 {
	animation: two_play_zero 12s 15 forwards;
	z-index: 3;
}

@keyframes two_play_zero {
	
	0% {
		z-index: 6;
		margin-left: 0px;
		opacity: 0;
	}
	10% {
		/*top, center*/
		z-index: 6;
		margin-left: 0px;
		opacity: 1;	
	}
	20% {
		/*bottom, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	54.99% {
		/*bottom, right*/
		z-index: 3;
		margin-left: 500px;	
	}
	55% {
		/*bottom, center*/
		z-index: 3;
		margin-left: 0px;
	}
	99.99% {
		z-index: 3;
	}
	100% {
		/*top, center*/
		z-index: 6;
		opacity: 0;
	}
}

#two_line1 {
	animation: two_play_one 12s 15 forwards;
	z-index: 2;
}

@keyframes two_play_one {
	0%, 10% {
		opacity: 0;
	}
	15% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
		opacity: 1;
	}
	35% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
		opacity: 1;		
	}
	44.9% {
		z-index: 5;
		margin-left: 500px;
		opacity: 0;
	}
	45% {
		z-index: 2;
		margin-left: 500px;
	}
	99.98%{
		margin-left: 500px;	
		opacity: 0;
		display: none;
	}
	99.99% {
		z-index: 2;
		margin-left: 0px;
		display: flex;
	}
	100% {
		/*top, center*/
		z-index: 5;
		margin-left: 0px;
	}
}

#two_line2 {
	animation: two_play_two 12s 15 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-left: 60px;*/
}

@keyframes two_play_two {
	0%, 15% {
		opacity: 0;
	}
	20% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		opacity: 1;
	}
	55% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		opacity: 1;		
	}
	65% {
		/*top, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 4;
		margin-left: 500px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 4;
		margin-left: 0px;
		display: block;
	}
}

#two_line3 {
	animation: two_play_three 12s 15 forwards;
	z-index: 1;
	/*background-color: blue;*/
	/*color: blue;*/
	/*padding-left: 60px;*/
}

@keyframes two_play_three {
	0%, 15% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 0;
	}
	75% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 1;		
	}
	85% {
		/*top, right*/
		margin-left: 500px;	
		opacity: 0;
	}
	99.99%{
		/*top, right*/
		z-index: 3;
		margin-left: 500px;
		display: none;
	}
	100% {
		/*top, center*/
		z-index: 3;
		margin-left: 0px;
		opacity: 1;
		display: block;
		opacity: 0;
	}
}

	/*^^ animation for sub 2 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/