#body_plx .slideshow_plx {

	ul {
		width: auto;
	}

	ul>li {
		float: none;
		left: 0%;
		width: 100%;
		@include left_trans;
		// box-shadow: 2px 0px 10px black;
	}

	ul>li>img, ul>li>div {
	    font-size: 50px;
	    font-family: cabin;
	    letter-spacing: 2px;
	}

	#slideshow-inner ul>li {
		position: absolute;
	}

 	.arrowMask {
 		position: absolute;
 		width: 60px;
 		height: 60%;
 		top: 28%;
 		z-index: 10;

		border-top: 70px solid transparent;
		border-bottom: 70px solid transparent;
		border-radius: 7px;
		// height: 100px; for flat tip 
		height: 3px;
		width: 0px;	

	    -webkit-transition: background-color 1s ease;
	    -moz-transition: background-color 1s ease;
	    -o-transition: background-color 1s ease;
 		transition: border .6s ease;
 	}

 	.arrowMask_L {
 		left: 21px;
 		border-right: 30px solid rgba(256,256,256,0.1);
 	}
	.arrowMask_R {
		right: 21px;
		// border-left: 0px solid rgba(0,0,0,0);
		border-left: 30px solid rgba(256,256,256,0.1);
	}

 	input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5, input[type=radio]#button-5:checked~.arrows#arrow-1 {
	    right: 15px;
	    display: block;

	    &:hover~.arrowMask_R {
	    	// background-color: rgba(256,256,256,0.1);
	    	border-left: 40px solid rgba(256,256,256,0.15);
	    }
	}

	input[type=radio]#button-1:checked~.arrows#arrow-5, input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
	    left: 15px !important;
	    display: block;
	    -webkit-transform: scale(-0.6, 1);
	    -moz-transform: scale(-0.6, 1);
	    -ms-transform: scale(-0.6, 1);
	    -o-transform: scale(-0.6, 1);
	    transform: scale(-0.6, 1);

	    &:hover~.arrowMask_L {
	    	border-right: 40px solid rgba(256,256,256,0.15);
	    }
	}

	label.arrows {
		opacity: 0;
		&:hover {
			opacity: 0;
		}
	}

	label:not(.arrows) {
		-webkit-box-shadow: 0px 0px 3px #989898 inset, 0 0 0px gray;
	   	-moz-box-shadow: 0px 0px 3px #989898 inset, 0 0 0px gray;
	    box-shadow: 0px 0px 3px #989898 inset, 0 0 0px gray;
		
		border: 0.5px solid rgba(192,192,192,1);

	    -webkit-transition: box-shadow .5s ease-out !important;
	    -moz-transition: box-shadow .5s ease-out !important;
	    -o-transition: box-shadow .5s ease-out !important;
	    transition: box-shadow .5s ease-out !important;
	}

	input[type=radio]#button-1:checked~label[for=button-1] {
		background-color: rgb(250, 250, 250);
		@include fullBoxShadow;
		border-color: rgba(192,192,192,0.5);
	}

	input[type=radio]#button-2:checked~label[for=button-2] {
		background-color: white;
		@include fullBoxShadow;
		border-color: rgba(192,192,192,0.5);
	}

	input[type=radio]#button-3:checked~label[for=button-3] {
		background-color: white;
		@include fullBoxShadow;
		border-color: rgba(192,192,192,0.5);
	}

	input[type=radio]#button-4:checked~label[for=button-4] {
		background-color: white;
		@include fullBoxShadow;
	}

	input[type=radio]#button-5:checked~label[for=button-5] {
		background-color: white;
		@include fullBoxShadow;
	}

	input[type=radio]#button-1:checked~#slideshow-inner {
		>ul { left: 0; }
		>ul { left: 0; }
	    >ul>li { @include card_boxShad; }
	}

	input[type=radio]#button-2:checked~#slideshow-inner {
		>ul { left: 0; }
	    >ul>li { @include card_boxShad; }
		#slide1 { left: -99%; }
	}

	input[type=radio]#button-3:checked~#slideshow-inner {
		>ul { left: 0; }
	    >ul>li { @include card_boxShad; }
		#slide1{ left: -150%; }
		#slide2 { left: -99%; }
	}

	input[type=radio]#button-4:checked~#slideshow-inner {
		>ul { left: 0; }
	    >ul>li { @include card_boxShad; }
	    #slide1 { left: -130%; }
	    #slide2 { left: -150%; }
	    #slide3 { left: -99%; }
	}

	input[type=radio]#button-5:checked~#slideshow-inner {
		>ul { left: 0; }
	    >ul>li { @include card_boxShad; }
	    #slide1 { left: -130%; }
	    #slide2 { left: -120%; }
	    #slide3 { left: -110%; }
	    #slide4 { left: -99%; }
	}

	#slide1 { z-index: 5; }
	#slide2 { z-index: 4; }
	#slide3 { z-index: 3; }
	#slide4 { z-index: 2; }
	#slide5 { z-index: 1; }
}

#body_plx {
	.nextSlide .greyedOut {
		cursor:default;
		color: gray;
		text-decoration: line-through;
		.undSlide {
			width: 0% !important;
		}
	}
}