/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
/* vv code & animation for sub 2 vv*/
#subtitle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  /*font-family: open sans condensed, sans serif;*/
  font-family: Fjalla One, sans-serif;
  font-size: 35px;
  white-space: nowrap;
  text-align: center;
  /*background-color: lightblue;*/ }

.two_line {
  position: absolute;
  width: 95%;
  padding-left: 0%;
  background-color: white;
  top: 44px; }

#two_line0 {
  animation: two_play_zero 12s 15 forwards;
  z-index: 3;
  /*background-color: red;*/
  /*color: red;*/
  /*padding-left: 30px;*/ }

@keyframes two_play_zero {
  0% {
    z-index: 6;
    margin-left: 0px;
    opacity: 0; }
  10% {
    /*top, center*/
    z-index: 6;
    margin-left: 0px;
    opacity: 1; }
  20% {
    /*bottom, right*/
    margin-left: 500px;
    opacity: 0; }
  54.99% {
    /*bottom, right*/
    z-index: 3;
    margin-left: 500px; }
  55% {
    /*bottom, center*/
    z-index: 3;
    margin-left: 0px; }
  99.99% {
    z-index: 3; }
  100% {
    /*top, center*/
    z-index: 6;
    opacity: 0; } }
#two_line1 {
  animation: two_play_one 12s 15 forwards;
  z-index: 2;
  /*background-color: green;*/
  /*color: green;*/
  /*padding-left: 30px;*/ }

@keyframes two_play_one {
  0%, 10% {
    opacity: 0; }
  15% {
    /*top, center*/
    z-index: 5;
    margin-left: 0px;
    opacity: 1; }
  35% {
    /*top, center*/
    z-index: 5;
    margin-left: 0px;
    opacity: 1; }
  44.9% {
    z-index: 5;
    margin-left: 500px;
    opacity: 0; }
  45% {
    z-index: 2;
    margin-left: 500px; }
  99.98% {
    margin-left: 500px;
    opacity: 0;
    display: none; }
  99.99% {
    z-index: 2;
    margin-left: 0px;
    display: flex; }
  100% {
    /*top, center*/
    z-index: 5;
    margin-left: 0px; } }
#two_line2 {
  animation: two_play_two 12s 15 forwards;
  z-index: 1;
  /*background-color: blue;*/
  /*color: blue;*/
  /*padding-left: 60px;*/ }

@keyframes two_play_two {
  0%, 15% {
    opacity: 0; }
  20% {
    /*top, center*/
    z-index: 4;
    margin-left: 0px;
    opacity: 1; }
  55% {
    /*top, center*/
    z-index: 4;
    margin-left: 0px;
    opacity: 1; }
  65% {
    /*top, right*/
    margin-left: 500px;
    opacity: 0; }
  99.99% {
    /*top, right*/
    z-index: 4;
    margin-left: 500px;
    display: none; }
  100% {
    /*top, center*/
    z-index: 4;
    margin-left: 0px;
    display: block; } }
#two_line3 {
  animation: two_play_three 12s 15 forwards;
  z-index: 1;
  /*background-color: blue;*/
  /*color: blue;*/
  /*padding-left: 60px;*/ }

@keyframes two_play_three {
  0%, 15% {
    /*top, center*/
    z-index: 3;
    margin-left: 0px;
    opacity: 0; }
  75% {
    /*top, center*/
    z-index: 3;
    margin-left: 0px;
    opacity: 1; }
  85% {
    /*top, right*/
    margin-left: 500px;
    opacity: 0; }
  99.99% {
    /*top, right*/
    z-index: 3;
    margin-left: 500px;
    display: none; }
  100% {
    /*top, center*/
    z-index: 3;
    margin-left: 0px;
    opacity: 1;
    display: block;
    opacity: 0; } }
/*^^ animation for sub 2 ^^*/
/*_**--------------------------------------------------------**_**_**--------------------------------------------------------**_*/
#body_plx .slideshow_plx ul {
  width: auto; }
#body_plx .slideshow_plx ul > li {
  float: none;
  left: 0%;
  width: 100%;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out; }
#body_plx .slideshow_plx ul > li > img, #body_plx .slideshow_plx ul > li > div {
  font-size: 50px;
  font-family: cabin;
  letter-spacing: 2px; }
#body_plx .slideshow_plx #slideshow-inner ul > li {
  position: absolute; }
#body_plx .slideshow_plx .arrowMask {
  position: absolute;
  width: 60px;
  height: 60%;
  top: 28%;
  z-index: 10;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-radius: 7px;
  height: 3px;
  width: 0px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: border .6s ease; }
#body_plx .slideshow_plx .arrowMask_L {
  left: 21px;
  border-right: 30px solid rgba(255, 255, 255, 0.1); }
#body_plx .slideshow_plx .arrowMask_R {
  right: 21px;
  border-left: 30px solid rgba(255, 255, 255, 0.1); }
#body_plx .slideshow_plx input[type=radio]#button-1:checked ~ .arrows#arrow-2, #body_plx .slideshow_plx input[type=radio]#button-2:checked ~ .arrows#arrow-3, #body_plx .slideshow_plx input[type=radio]#button-3:checked ~ .arrows#arrow-4, #body_plx .slideshow_plx input[type=radio]#button-4:checked ~ .arrows#arrow-5, #body_plx .slideshow_plx input[type=radio]#button-5:checked ~ .arrows#arrow-1 {
  right: 15px;
  display: block; }
  #body_plx .slideshow_plx input[type=radio]#button-1:checked ~ .arrows#arrow-2:hover ~ .arrowMask_R, #body_plx .slideshow_plx input[type=radio]#button-2:checked ~ .arrows#arrow-3:hover ~ .arrowMask_R, #body_plx .slideshow_plx input[type=radio]#button-3:checked ~ .arrows#arrow-4:hover ~ .arrowMask_R, #body_plx .slideshow_plx input[type=radio]#button-4:checked ~ .arrows#arrow-5:hover ~ .arrowMask_R, #body_plx .slideshow_plx input[type=radio]#button-5:checked ~ .arrows#arrow-1:hover ~ .arrowMask_R {
    border-left: 40px solid rgba(255, 255, 255, 0.15); }
#body_plx .slideshow_plx input[type=radio]#button-1:checked ~ .arrows#arrow-5, #body_plx .slideshow_plx input[type=radio]#button-2:checked ~ .arrows#arrow-1, #body_plx .slideshow_plx input[type=radio]#button-3:checked ~ .arrows#arrow-2, #body_plx .slideshow_plx input[type=radio]#button-4:checked ~ .arrows#arrow-3, #body_plx .slideshow_plx input[type=radio]#button-5:checked ~ .arrows#arrow-4 {
  left: 15px !important;
  display: block;
  -webkit-transform: scale(-0.6, 1);
  -moz-transform: scale(-0.6, 1);
  -ms-transform: scale(-0.6, 1);
  -o-transform: scale(-0.6, 1);
  transform: scale(-0.6, 1); }
  #body_plx .slideshow_plx input[type=radio]#button-1:checked ~ .arrows#arrow-5:hover ~ .arrowMask_L, #body_plx .slideshow_plx input[type=radio]#button-2:checked ~ .arrows#arrow-1:hover ~ .arrowMask_L, #body_plx .slideshow_plx input[type=radio]#button-3:checked ~ .arrows#arrow-2:hover ~ .arrowMask_L, #body_plx .slideshow_plx input[type=radio]#button-4:checked ~ .arrows#arrow-3:hover ~ .arrowMask_L, #body_plx .slideshow_plx input[type=radio]#button-5:checked ~ .arrows#arrow-4:hover ~ .arrowMask_L {
    border-right: 40px solid rgba(255, 255, 255, 0.15); }
#body_plx .slideshow_plx label.arrows {
  opacity: 0; }
  #body_plx .slideshow_plx label.arrows:hover {
    opacity: 0; }
#body_plx .slideshow_plx label:not(.arrows) {
  -webkit-box-shadow: 0px 0px 3px #989898 inset, 0 0 0px gray;
  -moz-box-shadow: 0px 0px 3px #989898 inset, 0 0 0px gray;
  box-shadow: 0px 0px 3px #989898 inset, 0 0 0px gray;
  border: 0.5px solid silver;
  -webkit-transition: box-shadow .5s ease-out;
  -moz-transition: box-shadow .5s ease-out;
  -o-transition: box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out; }
#body_plx .slideshow_plx input[type=radio]#button-1:checked ~ label[for=button-1] {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -moz-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -webkit-transition: box-shadow .5s ease-in;
  -moz-transition: box-shadow .5s ease-in;
  -o-transition: box-shadow .5s ease-in;
  transition: box-shadow .5s ease-in;
  border-color: rgba(192, 192, 192, 0.5); }
#body_plx .slideshow_plx input[type=radio]#button-2:checked ~ label[for=button-2] {
  background-color: white;
  -webkit-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -moz-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -webkit-transition: box-shadow .5s ease-in;
  -moz-transition: box-shadow .5s ease-in;
  -o-transition: box-shadow .5s ease-in;
  transition: box-shadow .5s ease-in;
  border-color: rgba(192, 192, 192, 0.5); }
#body_plx .slideshow_plx input[type=radio]#button-3:checked ~ label[for=button-3] {
  background-color: white;
  -webkit-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -moz-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -webkit-transition: box-shadow .5s ease-in;
  -moz-transition: box-shadow .5s ease-in;
  -o-transition: box-shadow .5s ease-in;
  transition: box-shadow .5s ease-in;
  border-color: rgba(192, 192, 192, 0.5); }
#body_plx .slideshow_plx input[type=radio]#button-4:checked ~ label[for=button-4] {
  background-color: white;
  -webkit-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -moz-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -webkit-transition: box-shadow .5s ease-in;
  -moz-transition: box-shadow .5s ease-in;
  -o-transition: box-shadow .5s ease-in;
  transition: box-shadow .5s ease-in; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ label[for=button-5] {
  background-color: white;
  -webkit-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -moz-box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  box-shadow: 0 0 0px gray inset, 0 0 3px #1d1d1d;
  -webkit-transition: box-shadow .5s ease-in;
  -moz-transition: box-shadow .5s ease-in;
  -o-transition: box-shadow .5s ease-in;
  transition: box-shadow .5s ease-in; }
#body_plx .slideshow_plx input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
  left: 0; }
#body_plx .slideshow_plx input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
  left: 0; }
#body_plx .slideshow_plx input[type=radio]#button-1:checked ~ #slideshow-inner > ul > li {
  -webkit-box-shadow: -4px 0px 22px black;
  -moz-box-shadow: -4px 0px 22px black;
  box-shadow: -4px 0px 22px black; }
#body_plx .slideshow_plx input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
  left: 0; }
#body_plx .slideshow_plx input[type=radio]#button-2:checked ~ #slideshow-inner > ul > li {
  -webkit-box-shadow: -4px 0px 22px black;
  -moz-box-shadow: -4px 0px 22px black;
  box-shadow: -4px 0px 22px black; }
#body_plx .slideshow_plx input[type=radio]#button-2:checked ~ #slideshow-inner #slide1 {
  left: -99%; }
#body_plx .slideshow_plx input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
  left: 0; }
#body_plx .slideshow_plx input[type=radio]#button-3:checked ~ #slideshow-inner > ul > li {
  -webkit-box-shadow: -4px 0px 22px black;
  -moz-box-shadow: -4px 0px 22px black;
  box-shadow: -4px 0px 22px black; }
#body_plx .slideshow_plx input[type=radio]#button-3:checked ~ #slideshow-inner #slide1 {
  left: -150%; }
#body_plx .slideshow_plx input[type=radio]#button-3:checked ~ #slideshow-inner #slide2 {
  left: -99%; }
#body_plx .slideshow_plx input[type=radio]#button-4:checked ~ #slideshow-inner > ul {
  left: 0; }
#body_plx .slideshow_plx input[type=radio]#button-4:checked ~ #slideshow-inner > ul > li {
  -webkit-box-shadow: -4px 0px 22px black;
  -moz-box-shadow: -4px 0px 22px black;
  box-shadow: -4px 0px 22px black; }
#body_plx .slideshow_plx input[type=radio]#button-4:checked ~ #slideshow-inner #slide1 {
  left: -130%; }
#body_plx .slideshow_plx input[type=radio]#button-4:checked ~ #slideshow-inner #slide2 {
  left: -150%; }
#body_plx .slideshow_plx input[type=radio]#button-4:checked ~ #slideshow-inner #slide3 {
  left: -99%; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ #slideshow-inner > ul {
  left: 0; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ #slideshow-inner > ul > li {
  -webkit-box-shadow: -4px 0px 22px black;
  -moz-box-shadow: -4px 0px 22px black;
  box-shadow: -4px 0px 22px black; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ #slideshow-inner #slide1 {
  left: -130%; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ #slideshow-inner #slide2 {
  left: -120%; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ #slideshow-inner #slide3 {
  left: -110%; }
#body_plx .slideshow_plx input[type=radio]#button-5:checked ~ #slideshow-inner #slide4 {
  left: -99%; }
#body_plx .slideshow_plx #slide1 {
  z-index: 5; }
#body_plx .slideshow_plx #slide2 {
  z-index: 4; }
#body_plx .slideshow_plx #slide3 {
  z-index: 3; }
#body_plx .slideshow_plx #slide4 {
  z-index: 2; }
#body_plx .slideshow_plx #slide5 {
  z-index: 1; }

#body_plx .nextSlide .greyedOut {
  cursor: default;
  color: gray;
  text-decoration: line-through; }
  #body_plx .nextSlide .greyedOut .undSlide {
    width: 0% !important; }

#body_vert .slideshow_vert {
  width: 35%;
  max-width: 300px;
  height: 70%;
  margin-top: 50px;
  margin-bottom: 50px; }
  #body_vert .slideshow_vert ul {
    width: auto;
    left: 0 !important; }
  #body_vert .slideshow_vert ul > li {
    float: none;
    top: 0%;
    left: 0% !important;
    width: 100%;
    height: 100%;
    -webkit-transition: top 1s ease-in-out;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out; }
  #body_vert .slideshow_vert ul > li > img, #body_vert .slideshow_vert ul > li > div {
    font-size: 55px;
    font-family: Arimo;
    letter-spacing: -2px;
    word-spacing: -5px;
    width: 92%; }
  #body_vert .slideshow_vert #slideshow-inner ul > li {
    position: absolute; }
  #body_vert .slideshow_vert label:not(.arrows) {
    background-color: rgba(10, 10, 10, 0);
    border-radius: 0px;
    width: 14px;
    height: 14px;
    -webkit-transition: all 0.5s !important;
    -moz-transition: all 0.5s !important;
    -o-transition: all 0.5s !important;
    transition: all 0.5s !important;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
    left: 100%;
    bottom: 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #body_vert .slideshow_vert input[type=radio]#button-1:checked ~ label[for=button-1] {
    background-color: rgba(204, 51, 0, 0.6);
    -webkit-transform: scale(-0.6, 1);
    -moz-transform: scale(-0.6, 1);
    -ms-transform: scale(-0.6, 1);
    -o-transform: scale(-0.6, 1);
    transform: rotate(45deg);
    margin-left: 7px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #body_vert .slideshow_vert input[type=radio]#button-2:checked ~ label[for=button-2] {
    background-color: rgba(204, 51, 0, 0.6);
    -webkit-transform: scale(-0.6, 1);
    -moz-transform: scale(-0.6, 1);
    -ms-transform: scale(-0.6, 1);
    -o-transform: scale(-0.6, 1);
    transform: rotate(45deg);
    margin-left: 7px;
    width: 10px;
    height: 10px;
    margin-bottom: 23px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #body_vert .slideshow_vert input[type=radio]#button-3:checked ~ label[for=button-3] {
    background-color: rgba(204, 51, 0, 0.6);
    -webkit-transform: scale(-0.6, 1);
    -moz-transform: scale(-0.6, 1);
    -ms-transform: scale(-0.6, 1);
    -o-transform: scale(-0.6, 1);
    transform: rotate(45deg);
    margin-left: 7px;
    width: 10px;
    height: 10px;
    margin-bottom: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ label[for=button-4] {
    background-color: rgba(204, 51, 0, 0.6);
    -webkit-transform: scale(-0.6, 1);
    -moz-transform: scale(-0.6, 1);
    -ms-transform: scale(-0.6, 1);
    -o-transform: scale(-0.6, 1);
    transform: rotate(45deg);
    margin-left: 7px;
    width: 10px;
    height: 10px;
    margin-bottom: -19px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ label[for=button-5] {
    background-color: rgba(204, 51, 0, 0.6);
    -webkit-transform: scale(-0.6, 1);
    -moz-transform: scale(-0.6, 1);
    -ms-transform: scale(-0.6, 1);
    -o-transform: scale(-0.6, 1);
    transform: rotate(45deg);
    margin-left: 7px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #body_vert .slideshow_vert label[for=button-1]:not(.arrows) {
    margin-bottom: 42px;
    margin-left: 5px; }
  #body_vert .slideshow_vert label[for=button-2]:not(.arrows) {
    margin-bottom: 21px;
    margin-left: 5px; }
  #body_vert .slideshow_vert label[for=button-3]:not(.arrows) {
    margin-left: 5px; }
  #body_vert .slideshow_vert label[for=button-4]:not(.arrows) {
    margin-bottom: -21px;
    margin-left: 5px; }
  #body_vert .slideshow_vert label[for=button-5]:not(.arrows) {
    margin-bottom: -42px;
    margin-left: 5px; }
  #body_vert .slideshow_vert input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
    top: 0; }
  #body_vert .slideshow_vert input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
    top: 0; }
  #body_vert .slideshow_vert input[type=radio]#button-1:checked ~ #slideshow-inner > ul > li {
    -webkit-box-shadow: 0px -4px 22px black;
    -moz-box-shadow: 0px -4px 22px black;
    box-shadow: 0px -4px 22px black; }
  #body_vert .slideshow_vert input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
    top: 0; }
  #body_vert .slideshow_vert input[type=radio]#button-2:checked ~ #slideshow-inner > ul > li {
    -webkit-box-shadow: 0px -4px 22px black;
    -moz-box-shadow: 0px -4px 22px black;
    box-shadow: 0px -4px 22px black; }
  #body_vert .slideshow_vert input[type=radio]#button-2:checked ~ #slideshow-inner #slide1 {
    top: -99%; }
  #body_vert .slideshow_vert input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
    top: 0; }
  #body_vert .slideshow_vert input[type=radio]#button-3:checked ~ #slideshow-inner > ul > li {
    -webkit-box-shadow: 0px -4px 22px black;
    -moz-box-shadow: 0px -4px 22px black;
    box-shadow: 0px -4px 22px black; }
  #body_vert .slideshow_vert input[type=radio]#button-3:checked ~ #slideshow-inner #slide1 {
    top: -150%; }
  #body_vert .slideshow_vert input[type=radio]#button-3:checked ~ #slideshow-inner #slide2 {
    top: -99%; }
  #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ #slideshow-inner > ul {
    top: 0; }
  #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ #slideshow-inner > ul > li {
    -webkit-box-shadow: 0px -4px 22px black;
    -moz-box-shadow: 0px -4px 22px black;
    box-shadow: 0px -4px 22px black; }
  #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ #slideshow-inner #slide1 {
    top: -130%; }
  #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ #slideshow-inner #slide2 {
    top: -150%; }
  #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ #slideshow-inner #slide3 {
    top: -99%; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ #slideshow-inner > ul {
    top: 0; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ #slideshow-inner > ul > li {
    -webkit-box-shadow: 0px -4px 22px black;
    -moz-box-shadow: 0px -4px 22px black;
    box-shadow: 0px -4px 22px black; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ #slideshow-inner #slide1 {
    top: -130%; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ #slideshow-inner #slide2 {
    top: -120%; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ #slideshow-inner #slide3 {
    top: -110%; }
  #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ #slideshow-inner #slide4 {
    top: -99%; }
  #body_vert .slideshow_vert #slide1 {
    z-index: 5; }
  #body_vert .slideshow_vert #slide2 {
    z-index: 4; }
  #body_vert .slideshow_vert #slide3 {
    z-index: 3; }
  #body_vert .slideshow_vert #slide4 {
    z-index: 2; }
  #body_vert .slideshow_vert #slide5 {
    z-index: 1; }

@media screen and (max-width: 1300px) and (min-width: 801px) and (min-height: 1000px) and (orientation: portrait) {
  #body_vert .slideshow_vert {
    height: 65%;
    width: 55%;
    max-width: 800px; }
    #body_vert .slideshow_vert label:not(.arrows) {
      margin-left: 20px !important; }
    #body_vert .slideshow_vert label[for=button-1]:not(.arrows) {
      margin-bottom: 84px;
      margin-left: 5px; }
    #body_vert .slideshow_vert label[for=button-2]:not(.arrows) {
      margin-bottom: 42px;
      margin-left: 5px; }
    #body_vert .slideshow_vert label[for=button-3]:not(.arrows) {
      margin-left: 5px; }
    #body_vert .slideshow_vert label[for=button-4]:not(.arrows) {
      margin-bottom: -42px;
      margin-left: 5px; }
    #body_vert .slideshow_vert label[for=button-5]:not(.arrows) {
      margin-bottom: -84px;
      margin-left: 5px; }
    #body_vert .slideshow_vert input[type=radio]#button-1:checked ~ label[for=button-1] {
      background-color: rgba(204, 51, 0, 0.6);
      -webkit-transform: scale(-0.6, 1);
      -moz-transform: scale(-0.6, 1);
      -ms-transform: scale(-0.6, 1);
      -o-transform: scale(-0.6, 1);
      transform: rotate(45deg);
      margin-left: 7px;
      width: 10px;
      height: 10px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #body_vert .slideshow_vert input[type=radio]#button-2:checked ~ label[for=button-2] {
      background-color: rgba(204, 51, 0, 0.6);
      -webkit-transform: scale(-0.6, 1);
      -moz-transform: scale(-0.6, 1);
      -ms-transform: scale(-0.6, 1);
      -o-transform: scale(-0.6, 1);
      transform: rotate(45deg);
      margin-left: 7px;
      width: 10px;
      height: 10px;
      margin-bottom: 42px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #body_vert .slideshow_vert input[type=radio]#button-3:checked ~ label[for=button-3] {
      background-color: rgba(204, 51, 0, 0.6);
      -webkit-transform: scale(-0.6, 1);
      -moz-transform: scale(-0.6, 1);
      -ms-transform: scale(-0.6, 1);
      -o-transform: scale(-0.6, 1);
      transform: rotate(45deg);
      margin-left: 7px;
      width: 10px;
      height: 10px;
      margin-bottom: 0px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #body_vert .slideshow_vert input[type=radio]#button-4:checked ~ label[for=button-4] {
      background-color: rgba(204, 51, 0, 0.6);
      -webkit-transform: scale(-0.6, 1);
      -moz-transform: scale(-0.6, 1);
      -ms-transform: scale(-0.6, 1);
      -o-transform: scale(-0.6, 1);
      transform: rotate(45deg);
      margin-left: 7px;
      width: 10px;
      height: 10px;
      margin-bottom: -42px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #body_vert .slideshow_vert input[type=radio]#button-5:checked ~ label[for=button-5] {
      background-color: rgba(204, 51, 0, 0.6);
      -webkit-transform: scale(-0.6, 1);
      -moz-transform: scale(-0.6, 1);
      -ms-transform: scale(-0.6, 1);
      -o-transform: scale(-0.6, 1);
      transform: rotate(45deg);
      margin-left: 7px;
      width: 10px;
      height: 10px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; } }
* {
  margin: 0;
  padding: 0; }

li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

a {
  color: black;
  text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 700px; }

#slideshow-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  #slideshow-inner > ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out; }
  #slideshow-inner > ul > li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
    background-color: white; }
  #slideshow-inner > ul > li > img, #slideshow-inner > ul > li > div {
    margin: auto;
    padding-bottom: 1%;
    width: 80%;
    height: 99%;
    font-size: 50px;
    font-family: Arvo, serif;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
  #slideshow-inner .greenSlide {
    color: white;
    background-color: #396; }
  #slideshow-inner .blueSlide {
    color: white;
    background-color: #3679a9; }
  #slideshow-inner .redSlide {
    color: white;
    background-color: #c42b2b; }
  #slideshow-inner .purpleSlide {
    color: white;
    background-color: #8640a3; }

#slideshow-wrap {
  display: block;
  height: 320px;
  width: 90%;
  min-width: 260px;
  max-width: 1200px;
  margin: 100px auto 0px auto;
  border: 1px solid #a7a7a7;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  position: relative; }
  #slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden; }
  #slideshow-wrap label:not(.arrows) {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s; }
    #slideshow-wrap label:not(.arrows) :active {
      bottom: -46px; }
  #slideshow-wrap input[type=radio]#button-1:checked ~ label[for=button-1] {
    -webkit-transition: background-color 1.2s ease;
    -moz-transition: background-color 1.2s ease;
    -o-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;
    background-color: #646464; }
  #slideshow-wrap input[type=radio]#button-2:checked ~ label[for=button-2] {
    -webkit-transition: background-color 1.2s ease;
    -moz-transition: background-color 1.2s ease;
    -o-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;
    background-color: #646464; }
  #slideshow-wrap input[type=radio]#button-3:checked ~ label[for=button-3] {
    -webkit-transition: background-color 1.2s ease;
    -moz-transition: background-color 1.2s ease;
    -o-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;
    background-color: #646464; }
  #slideshow-wrap input[type=radio]#button-4:checked ~ label[for=button-4] {
    -webkit-transition: background-color 1.2s ease;
    -moz-transition: background-color 1.2s ease;
    -o-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;
    background-color: #646464; }
  #slideshow-wrap input[type=radio]#button-5:checked ~ label[for=button-5] {
    -webkit-transition: background-color 1.2s ease;
    -moz-transition: background-color 1.2s ease;
    -o-transition: background-color 1.2s ease;
    transition: background-color 1.2s ease;
    background-color: #646464; }
  #slideshow-wrap label[for=button-1]:not(.arrows) {
    margin-left: -36px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap label[for=button-2]:not(.arrows) {
    margin-left: -18px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap label[for=button-4]:not(.arrows) {
    margin-left: 18px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap label[for=button-5]:not(.arrows) {
    margin-left: 36px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap input[type=radio]#button-1:checked ~ #slideshow-inner > ul {
    left: 0; }
  #slideshow-wrap input[type=radio]#button-2:checked ~ #slideshow-inner > ul {
    left: -100%; }
  #slideshow-wrap input[type=radio]#button-3:checked ~ #slideshow-inner > ul {
    left: -200%; }
  #slideshow-wrap input[type=radio]#button-4:checked ~ #slideshow-inner > ul {
    left: -300%; }
  #slideshow-wrap input[type=radio]#button-5:checked ~ #slideshow-inner > ul {
    left: -400%; }

label.arrows {
  font-family: 'WebSymbolsRegular';
  font-size: 70px;
  font-stretch: ultra-expanded;
  color: #f0f0e6;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  display: none;
  opacity: 0.3;
  cursor: pointer;
  z-index: 1000;
  background-color: transparent;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  line-height: 0%;
  transform: scale(0.6, 1); }

label.arrows:hover {
  opacity: 0.8; }

input[type=radio]#button-1:checked ~ .arrows#arrow-2, input[type=radio]#button-2:checked ~ .arrows#arrow-3, input[type=radio]#button-3:checked ~ .arrows#arrow-4, input[type=radio]#button-4:checked ~ .arrows#arrow-5, input[type=radio]#button-5:checked ~ .arrows#arrow-1 {
  right: 3px;
  display: block; }

input[type=radio]#button-1:checked ~ .arrows#arrow-5, input[type=radio]#button-2:checked ~ .arrows#arrow-1, input[type=radio]#button-3:checked ~ .arrows#arrow-2, input[type=radio]#button-4:checked ~ .arrows#arrow-3, input[type=radio]#button-5:checked ~ .arrows#arrow-4 {
  left: 3px !important;
  display: block;
  -webkit-transform: scale(-0.6, 1);
  -moz-transform: scale(-0.6, 1);
  -ms-transform: scale(-0.6, 1);
  -o-transform: scale(-0.6, 1);
  transform: scale(-0.6, 1); }

.nextSlide {
  font-size: 26px;
  background-color: white;
  padding: 10px;
  border: 0;
  margin: 0 30px;
  font-family: Noto sans;
  letter-spacing: 3px; }
  .nextSlide .undSlide {
    background-color: black;
    height: 2px;
    width: 0px;
    transition: width 0.3s, background-color 1.8s;
    -webkit-transition: width 0.3s, background-color 1.8s;
    -moz-transition: width 0.3s, background-color 1.8s;
    -o-transition: width 0.3s, background-color 1.8s; }
  .nextSlide :hover + .undSlide {
    width: 100%; }

.slideNav {
  position: absolute;
  bottom: 75px;
  width: 100%;
  margin: auto;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around; }
  .slideNav .greyedOut + .undSlide {
    width: 0%; }
  .slideNav .nextSlide {
    text-align: left; }

@media screen and (max-width: 1300px) and (min-width: 801px) and (min-height: 1000px) and (orientation: portrait) {
  .nextSlide {
    font-size: 42px; }

  .slideNav {
    bottom: 200px; }
    .slideNav .undSlide {
      width: 100%; }

  #slideshow-wrap label:not(.arrows) {
    height: 20px !important;
    width: 20px !important; }
  #slideshow-wrap label[for=button-1]:not(.arrows) {
    margin-left: -72px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap label[for=button-2]:not(.arrows) {
    margin-left: -36px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap label[for=button-4]:not(.arrows) {
    margin-left: 36px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap label[for=button-5]:not(.arrows) {
    margin-left: 72px;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease; }
  #slideshow-wrap #slideshow-inner ul > li div {
    font-size: 80px; } }

/*# sourceMappingURL=styles.css.map */
