@import "_animations.scss";
@import "_mixins.scss";
@import "_parallax.scss";
@import "_vert.scss";

* {
    margin: 0;
    padding: 0;
}

li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

a {
	color: black;
	text-decoration: none;
	}

html {
	height: 100%;
	overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    padding: 1px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include flex_plain;
    min-width: 700px;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    // background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;

    >ul {
	    list-style: none;
	    height: 100%;
	    width: 500%;
	    overflow: hidden;
	    position: relative;
	    left: 0px;
	    -webkit-transition: left 1s ease-in-out;
	    -moz-transition: left 1s ease-in-out;
	    -o-transition: left 1s ease-in-out;
	    transition: left 1s ease-in-out;
	}

	>ul>li {
	    width: 20%;
	    height: 320px;
	    float: left;
	    position: relative;
	    background-color: white;
	}

	>ul>li>img, >ul>li>div {
	    margin: auto;
	    padding-bottom: 1%;
	    width: 80%;
	    height: 99%;
	    font-size: 50px;
	    font-family: Arvo, serif;
	    text-align: center;

	    @include flex_center;
	}

	.greenSlide {
		color: white;
		background-color: #396;
	}

	.blueSlide { 
		color: white;
		background-color: #3679a9;
	}

	.redSlide {
		color: white;
		background-color: #c42b2b;
	}

	.purpleSlide {
		color: white;
		background-color: #8640a3;
	}

}

#slideshow-wrap {
    display: block;
    height: 320px;
    width: 90%;
    min-width: 260px;
    max-width: 1200px;
    margin: 100px auto 0px auto;
    border: 1px solid rgba(167,167,167,1);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    position: relative;


	input[type=radio] {
	    position: absolute;
	    left: 50%;
	    bottom: 15px;
	    z-index: 100;
	    visibility: hidden;
	}

	label:not(.arrows) {
	    position: absolute;
	    left: 50%;
	    bottom: -45px;
	    z-index: 100;
	    width: 12px;
	    height: 12px;
	    /*background-color: rgba(200,200,200,1);*/
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    cursor: pointer;
	    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
	    -webkit-transition: background-color .2s;
	    -moz-transition: background-color .2s;
	    -o-transition: background-color .2s;
	    transition: background-color .2s;

		:active {
		    bottom: -46px 
		}
	}

	input[type=radio]#button-1:checked~label[for=button-1] {
	    @include fadeIn;
	}

	input[type=radio]#button-2:checked~label[for=button-2] {
	    @include fadeIn;
	}

	input[type=radio]#button-3:checked~label[for=button-3] {
	    @include fadeIn;
	}

	input[type=radio]#button-4:checked~label[for=button-4] {
	    @include fadeIn;
	}

	input[type=radio]#button-5:checked~label[for=button-5] {
	    @include fadeIn;
	}

	label[for=button-1]:not(.arrows) {
	    margin-left: -36px;
	    @include fadeOut;
	}

	label[for=button-2]:not(.arrows) {
	    margin-left: -18px;
	    @include fadeOut;
	}

	label[for=button-4]:not(.arrows) {
	    margin-left: 18px;
	    @include fadeOut;
	}

	label[for=button-5]:not(.arrows) {
	    margin-left: 36px;
	    @include fadeOut;
	}

	input[type=radio]#button-1:checked~#slideshow-inner>ul {
	    left: 0;
	}

	input[type=radio]#button-2:checked~#slideshow-inner>ul {
	    left: -100%; 
	}

	input[type=radio]#button-3:checked~#slideshow-inner>ul {
	    left: -200%;
	}

	input[type=radio]#button-4:checked~#slideshow-inner>ul {
	    left: -300%;
	}

	input[type=radio]#button-5:checked~#slideshow-inner>ul {
	    left: -400%;
	}
}

label.arrows {
    font-family: 'WebSymbolsRegular';
    font-size: 70px;
    font-stretch: ultra-expanded;
    color: rgb(240,240,230);
    position: absolute;
    top: 50%;
    margin-top: -6px;
    display: none;
    opacity: 0.3;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    line-height: 0%;
    transform: scale(0.6, 1);
}

label.arrows:hover { 
	opacity: 0.8;
	// color: white;
 }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5, input[type=radio]#button-5:checked~.arrows#arrow-1 {
    right: 3px;
    display: block;
}

input[type=radio]#button-1:checked~.arrows#arrow-5, input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: 3px !important;
    display: block;
    -webkit-transform: scale(-0.6, 1);
    -moz-transform: scale(-0.6, 1);
    -ms-transform: scale(-0.6, 1);
    -o-transform: scale(-0.6, 1);
    transform: scale(-0.6, 1);
}

// input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }
// input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }
// input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px }

.nextSlide {
	font-size: 26px;
	background-color: white;
	padding: 10px;
	border: 0;
	margin: 0 30px;
	font-family: Noto sans;
	letter-spacing: 3px;

	.undSlide {
		background-color: black;
		height: 2px;
		width: 0px;
		transition: width 0.3s, background-color 1.8s;
		-webkit-transition: width 0.3s, background-color 1.8s;
	    -moz-transition: width 0.3s, background-color 1.8s;
	    -o-transition: width 0.3s, background-color 1.8s;

	}

	:hover .undSlide {
		width: 100%;
	}
}




